@import "./default.scss";
@import "./modal.scss";

body {
   background-color: #aaa;
   font-family: 'Roboto Slab', serif;
}

.body_content {
   border: 2px solid #777;
   border-radius: 20px;
   padding: 20px;
   min-width: 300px;
   max-width: 900px;
   margin: 20px auto;
   background-color: #ccc;
   padding: 5px;
    .input_text {
      background: none ;
      border: none;
      border-bottom: solid 2px #000;
      display: block;
      width: 99%;
      max-width: 500px;
      margin: 10px auto;
      padding: 0px;
      &:focus{
        background: none ;
        border: none;
        border-bottom: solid 2px #000;
        color: none;
        color: -internal-light-dark(grey, yellow);
      }

   }
    .input_comment {
      background: none ;
      border: none;
      border-bottom: solid 2px #000;
      display: block;
      width: 99%;
      max-width: 500px;
      margin: 10px auto;
      padding: 0px;
      &:focus{
         background: none ;
         border: none;
         border-bottom: solid 2px #000;
         color: none;
         color: -internal-light-dark(grey, yellow);
      }
   }
   .important{
      display: inline-block;
   }
}

.type{
  text-align: center;
}

.check_important {
   display: flex;
   justify-content: center;
   margin: 20px auto;
}

.button {
   border-radius: 15px;
   padding: 10px;;
   text-align: center;
   min-width: 300px;
   max-width: 900px;
   margin: 0 auto;
   border: 2px solid #000;
   cursor: pointer;
   transition: all .3s;
   &:hover{
      background-color: rgba(111, 252, 123, 0.521);
   }
}

// классы для листа (list items)
.list {
   border: 2px solid #777;
   border-radius: 20px;
   background-color: #ccc;
   min-width: 300px;
   max-width: 900px;
   padding: 5px;
   margin: 0 auto;
}
.list_item {
   border: 2px solid #777;
   border-radius: 10px;
   margin: 5px;
   display: flex;
   justify-content: space-between;
   background-color: #bbb;
   min-height: 100px;
   div{
      padding: 5px;
      padding-bottom: 10px;
   }
   .type_text{
      font-size: 30px;
      
   }
   .edit{
      text-align: center;
   }
   .list_text {
      padding-bottom: 24px;
   }
}

.list_item.important {
   display: flex;
   justify-content: space-between;
   border: 2px solid rgb(255, 131, 59);
   box-shadow: inset 0px 0px 70px rgba(255, 163, 59, 0.363);
   .type_text {
      font-size: 30px;
   }
   .edit {
      text-align: center;
   }
   .list_text {
      padding-bottom: 24px;
   }
}
// end list items
// buttons
.edit_buttons {
   border-radius: 15px;
   margin: 5px;
   padding: 10px;;
   text-align: center;
   width: 200px;
   border: 1px solid #000;
   cursor: pointer;
   transition: all .3s;
   &:hover{
      background-color: rgba(78, 252, 116, 0.521);
      box-shadow: 1px 1px 15px 1px #777;
   }
}
.edit_buttons_danger {
   border-radius: 15px;
   margin: 5px;
   padding: 10px;;
   text-align: center;
   width: 200px;
   border: 1px solid #000;
   cursor: pointer;
   transition: all .3s;
   
   &:hover{
      background-color: rgba(252, 111, 111, 0.521);
      box-shadow: 1px 1px 15px 1px #777;
   }
}